* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* commen */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  padding: 0 16px;
  border-radius: 25px;
  background: #171100;
  cursor: pointer;
}

:root {
  --primary: #ffb900;
  --font-heading: "Sen", sans-serif;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}
/* trường hợp người dùng viết liền k có dấu cách đoạn văn sẽ bị chạy thẳng */
.break-all {
  word-break: break-all;
}
/* header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.main-content {
  width: 1170px;
  /* kéo ngang trang web không bị mất form */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li .active,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li .active::after {
  content: "";
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .action {
  padding-left: 49px;
}

.header .sign-up-btn {
  min-width: 144px;
}

/* hero */

.hero {
  padding-top: 56px;
  padding-bottom: 65px;
  background: #fffcf4;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  /* căn ảnh xuống dưới cùng, để không có khoảng cách
  hoặ có thể dùng display: block */
  vertical-align: bottom;
}

.hero .body {
  display: flex;
}
/* left */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0px;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.hero .hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero .hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fffcf4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .item .info {
  padding-left: 16px;
}

.hero .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}
.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

/* right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.content-block .heading {
  width: 470px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.content-block .desc {
  color: #5f5b53;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}

.hero .cta-group {
  display: flex;
  margin: 38px 0 48px;
}

.hero .cta-group .btn {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: var(--primary);
}
.hero .cta-group .watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #fffcf4;
}
.cta-group .icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  margin-left: 28px;
}

.cta-group span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  padding: 0 8px 0 28px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong:first-child {
  padding-left: 0;
}

/* popular */

.popular {
  padding: 65px 0;
  margin: 135px 0;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.popular-top .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-top: 16px;
}

.popular-top .control-btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn.active,
.popular-top .control-btn:hover {
  background: var(--primary);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-items {
  flex: 1;
  background: #fff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}
.popular .course-items:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  /* border: none; 
  thay vì dùng border  none làm giật các phần tử
  dùng border-color: transparent để màu border trong suốt
  */
  border-color: transparent;
}

.course-list .thums {
  width: 100%;
  height: 278px;
  object-fit: cover;
  vertical-align: bottom;
}

.course-list .info .title a {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.course-list .info {
  padding: 16px 22px 22px;
}

.course-list .head,
.course-list .foot,
.course-list .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.course-list .value {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
}

.course-list .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  margin-top: 6px;
}

.course-list .foot {
  margin-top: 12px;
}
.course-list .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.course-list .foot .btn {
  font-size: 1.4rem;
}

.course-list .foot .book-btn {
  border: none;
}

.course-list .foot .book-btn:hover,
.course-list .foot .active {
  color: #fff;
  background: var(--primary);
}

/* feed-back */

.feedback {
  background: #2e2100;
  padding: 96px 0;
}

.feedback-item {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
}
.feedback .avt {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 72px;
}

.feedback .title {
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41; /* 141.667% */
  margin-top: 18px;
}

.feedback .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  margin-top: 4px;
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 4px;
}

.feedback-item .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.feedback-item .dot:hover,
.feedback-item .dot.active {
  background: var(--primary);
}

.feedback .content {
  width: 66%;
}

.feedback blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53; /* 153.846% */
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item .open-code {
  margin-left: -30px;
}
/* features */

.features {
  padding: 65px 0;
  margin-top: 135px;
}

/* feature2 */

.features .images {
  display: flex;
  gap: 0 30px;
}

.features .images img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}
.features img:nth-child(1) {
  margin-top: 34px;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading.heading_1 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.desc.desc_1 {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-top: 16px;
}

.features .btn {
  min-width: 137px;
  margin-top: 32px;
  background: var(--primary);
}

/* feature2 */

.features_2 {
  margin-top: 70px;
}

.features_2 .body {
  flex-direction: row-reverse;
}

.features_2 .content {
  width: 49%;
}

.features_2 .images img {
  width: 470px;
  height: 440px;
}

/* blog */

.blog {
  padding: 96px 0;
  margin-top: 135px;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog .desc.desc_1 {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.blog .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  overflow: hidden;
}

.blog .item {
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background: #fff;
  flex-shrink: 0;
}

.blog .thums {
  width: 100%;
  height: 250px;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 16px 16px 0px 0px;
}

.blog .info {
  padding: 20px 20px 28px;
}

.blog-list span {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 12px;
}
.blog .item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary);
  margin-right: 4px;
}
.blog .item .date::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-list .title a {
  /* do a là thẻ inline k ăn thuộc tính margin, đổi thành inline-block */
  display: inline-block;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin: 12px 0;
}
.blog-list .btn {
  font-size: 1.4rem;
}

.blog-list .btn:hover {
  background: var(--primary);
}

.blog .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
}
.blog .dot:hover,
.blog .dot.active {
  background: var(--primary);
}
