* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* commen */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  padding: 0 16px;
  border-radius: 24.5px;
  background: #171100;
}
/* header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.main-content {
  width: 1170px;
  /* kéo ngang trang web không bị mất form */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li .active,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li .active::after {
  content: "";
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .action {
  padding-left: 49px;
}

.header .sign-up-btn {
  min-width: 144px;
}
